<p class="pageHeader">New Department</p>

<form action="/departments" method="post">

    <label for="title">Title: </label>
    <input id="title" placeholder="e.g. Sales" class="inputbox" type="text" name="title" required >

    <input type="submit" value="Save" class="button" >

</form>